---
# Kafka Installation Defaults

# KRaft Configuration
kafka_process_roles: "broker,controller"
kafka_node_id: 1  # Will be overridden by playbook
kafka_controller_port: 9093
kafka_client_port: 9092
kafka_external_port: 9094

# Storage
kafka_log_dirs: "/kafka-data"
kafka_data_dir: "/kafka-data"
kafka_workspace: "/opt/kafka"

# Controller Quorum
kafka_controller_quorum_voters: "1@172.16.1.4:9093,2@172.16.1.5:9093,3@172.16.1.6:9093"

# Replication
kafka_offsets_topic_replication_factor: 3
kafka_transaction_state_log_replication_factor: 3
kafka_transaction_state_log_min_isr: 2
kafka_default_replication_factor: 3
kafka_min_insync_replicas: 2

# Network
kafka_num_network_threads: 8
kafka_num_io_threads: 16
kafka_socket_send_buffer_bytes: 102400
kafka_socket_receive_buffer_bytes: 102400
kafka_socket_request_max_bytes: 104857600

# Log Retention
kafka_log_retention_hours: 168
kafka_log_segment_bytes: 1073741824
kafka_log_retention_check_interval_ms: 300000

# --- Grafana Setup ---

- name: Install dependencies (Debian)
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - software-properties-common
      - wget
    state: present
    update_cache: true
  when: ansible_os_family == "Debian"

- name: Add Grafana GPG key (Debian)
  ansible.builtin.get_url:
    url: https://apt.grafana.com/gpg.key
    dest: /usr/share/keyrings/grafana.key
    mode: '0644'
  when: ansible_os_family == "Debian"

- name: Add Grafana repo (Debian)
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/grafana.key] https://apt.grafana.com stable main"
    state: present
    filename: grafana
  when: ansible_os_family == "Debian"

- name: Install Grafana (Debian)
  ansible.builtin.apt:
    name: grafana
    state: present
    update_cache: true
  when: ansible_os_family == "Debian"

- name: Configure Grafana yum repo (RedHat)
  ansible.builtin.copy:
    dest: /etc/yum.repos.d/grafana.repo
    mode: "0644"
    content: |
      [grafana]
      name=grafana
      baseurl=https://packages.grafana.com/oss/rpm
      repo_gpgcheck=1
      enabled=1
      gpgcheck=1
      gpgkey=https://packages.grafana.com/gpg.key
      exclude=gf-enterprise*
  when: ansible_os_family == "RedHat"

- name: Install Grafana (RedHat)
  ansible.builtin.dnf:
    name: grafana
    state: present
    update_cache: true
    disable_gpg_check: false
  when: ansible_os_family == "RedHat"

- name: Provision Grafana Prometheus datasource
