# secrets.yml.example
# Copy this file to secrets.yml and fill in the values, or let the playbook generate them.
repl_user: "repl"
repl_pass: "CHANGE_ME"
root_pass: "CHANGE_ME"

# below is for mysql exporter
exporter_user: "mysqld_exporter"
exporter_pass: "CHANGE_ME"
# mysql exporter end
