---
- name: Ensure prometheus user exists
  ansible.builtin.user:
    name: prometheus
    shell: /sbin/nologin
    system: true
    create_home: false

- name: Download Prometheus archive
  ansible.builtin.get_url:
    url: "https://github.com/prometheus/prometheus/releases/download/v{{ prometheus_version }}/prometheus-{{ prometheus_version }}.linux-amd64.tar.gz"
    dest: /tmp/prometheus.tar.gz
    mode: "0644"

- name: Extract Prometheus
  ansible.builtin.unarchive:
    src: /tmp/prometheus.tar.gz
    dest: /opt
    remote_src: true
    creates: "/opt/prometheus-{{ prometheus_version }}.linux-amd64"

- name: Install Prometheus binaries
  ansible.builtin.copy:
    src: "/opt/prometheus-{{ prometheus_version }}.linux-amd64/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    remote_src: true
    mode: "0755"
  loop:
    - prometheus
    - promtool

- name: Create Prometheus config and data dirs
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: prometheus
    group: prometheus
    mode: "0755"
  loop:
    - /etc/prometheus
    - /var/lib/prometheus

- name: Deploy Prometheus config
  ansible.builtin.template:
    src: prometheus.yml.j2
    dest: /etc/prometheus/prometheus.yml
    owner: prometheus
    group: prometheus
    mode: "0644"

- name: Install Prometheus systemd unit
  ansible.builtin.template:
    src: prometheus.service.j2
    dest: /etc/systemd/system/prometheus.service
    mode: "0644"

- name: Reload systemd and start Prometheus
  ansible.builtin.systemd:
    daemon_reload: true
    name: prometheus
    state: started
    enabled: true

- name: Configure Grafana yum repo
  ansible.builtin.copy:
    dest: /etc/yum.repos.d/grafana.repo
    mode: "0644"
    content: |
      [grafana]
      name=grafana
      baseurl=https://packages.grafana.com/oss/rpm
      repo_gpgcheck=1
      enabled=1
      gpgcheck=1
      gpgkey=https://packages.grafana.com/gpg.key
      exclude=gf-enterprise*

- name: Install Grafana
  ansible.builtin.dnf:
    name: grafana
    state: present
    update_cache: true
    disable_gpg_check: false

- name: Provision Grafana Prometheus datasource
  ansible.builtin.template:
    src: grafana-datasource.yml.j2
    dest: /etc/grafana/provisioning/datasources/prometheus.yaml
    mode: "0644"

- name: Ensure Grafana service is running
  ansible.builtin.systemd:
    name: grafana-server
    state: started
    enabled: true
