---
# 1. 再次抓取临时密码
- name: Get temporary password from log
  shell: "grep 'temporary password' /var/log/mysqld.log | awk '{print $NF}' | tail -n 1"
  register: temp_password_output

- name: Show temp password
  debug:
    msg: "Using temp password: {{ temp_password_output.stdout }}"

# 2. 使用 shell 模块 + --connect-expired-password 参数强行修改
- name: Change password using shell command
  shell: |
    mysql -u root -p'{{ temp_password_output.stdout }}' --connect-expired-password -e "ALTER USER 'root'@'localhost' IDENTIFIED BY '{{ root_pass }}';"
  # 忽略错误：如果密码已经改过了，这就连不上了，报错是正常的
  ignore_errors: yes
  register: change_result
  # 只有当抓取到临时密码时才尝试执行，防止空密码导致奇怪错误
  when: temp_password_output.stdout != ""

# 3. 验证是否修改成功（尝试用新密码连接）
- name: Verify login with NEW password
  shell: |
    mysql -u root -p'{{ root_pass }}' -e "SHOW DATABASES;"
  register: verify_result
  ignore_errors: yes

- name: Final Result
  debug:
    msg: "Password change successful!"
  when: verify_result.rc == 0

- name: Failure Warning
  debug:
    msg: "Failed to change password. Maybe it was already changed?"
  when: verify_result.rc != 0