---
- name: Check Slave Status
  community.mysql.mysql_replication:
    login_user: root
    login_password: "{{ root_pass }}"
    mode: getreplica 
  register: slave_status
  ignore_errors: true

- name: Configure Slave with GTID Auto Position
  community.mysql.mysql_replication:
    login_user: root
    login_password: "{{ root_pass }}"
    mode: changeprimary
    # 直接获取 Master 组的第一台机器地址
    primary_host: "{{ groups['mysql_master'][0] }}"
    primary_user: "{{ repl_user }}"
    primary_password: "{{ repl_pass }}"
    primary_auto_position: yes
  when:
    - slave_status.Is_Replica is not defined or not slave_status.Is_Replica
    - (slave_status.Slave_IO_Running is not defined or slave_status.Slave_IO_Running != 'Yes')

- name: Start Slave Replication
  community.mysql.mysql_replication:
    login_user: root
    login_password: "{{ root_pass }}"
    mode: startreplica 
  when:
    - slave_status.Slave_IO_Running is not defined or slave_status.Slave_IO_Running != 'Yes'

- name: Verify Replication is Running
  community.mysql.mysql_replication:
    login_user: root
    login_password: "{{ root_pass }}"
    mode: getreplica 
  register: final_status
  # 只有当 IO 和 SQL 线程都为 Yes 时才算成功
  failed_when: final_status.Slave_IO_Running != 'Yes' or final_status.Slave_SQL_Running != 'Yes'

- name: Print Success Message
  debug:
    msg: "GTID Replication is running perfectly. IO: {{ final_status.Slave_IO_Running }}"